<header class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {% for my_page in site.pages reversed %}
        {% if my_page.title %}
            {% if my_page.title == page.title  %}
        <li class="active">
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </li>
            {% else %}
        <li>
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </li>
            {% endif %}

        {% endif %}
        {% endfor %}
        {% for  project in site.projects %}
          {% if project.collection_home != true %}
          <li>
              <a class="page-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
          </li>
        
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
