---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="row">
    {{ content }}


{% for member in site.data.members %}
<div class="col s4">
  <div class="col s12 card">
    <h4 class="center">
      <a href="https://github.com/{{ member.github }}">
        {{ member.name }}
      </a>
    </h2>
    <div class="card-image">
        <img src="{{ member.image }}">
        <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
              <p> {{ member.bio }} </p>
    </div>
    <div class="card-action">
              <a href="#">This is a link</a>
    </div>


  </div>
</div>
{% endfor %}

  </div>

</article>
